<section class="login">
  <div class="login-content">
    <form [formGroup]="loginForm" class="login-form">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          formControlName="email"
          type="email"
          matInput
          autocomplete="false"
          placeholder="Ex. pat@example.com" />
        <mat-error *ngIf="!loginForm.hasError('required')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <app-show-and-hide-password>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            formControlName="password"
            type="password"
            matInput
            autocomplete="false"
            placeholder="Ex. pat@example.com" />
          <mat-error *ngIf="!loginForm.hasError('required')">
            Please enter a valid password
          </mat-error>
        </mat-form-field>
      </app-show-and-hide-password>
    </form>
    <div class="registration-notification">
      <h2>If you are not logined please register</h2>
    </div>
    <div class="login-button">
      <a matTooltip="Registration" mat-raised-button routerLink="registration" [color]="'primary'"
        >Registration</a
      >
      <button
        mat-flat-button
        matTooltip="Login"
        color="primary"
        [disabled]="!loginForm.valid"
        (click)="login()">
        Login
      </button>
    </div>
  </div>
</section>
