<section class="login">
  <div class="login-content">
    <form [formGroup]="loginForm" class="login-form">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          formControlName="email"
          type="email"
          matInput
          autocomplete="false"
          placeholder="Ex. pat@example.com" />
        <mat-error *ngIf="!loginForm.hasError('required')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          formControlName="password"
          [type]="showPassword ? 'text' : 'password'"
          matInput
          autocomplete="false"
          placeholder="Ex. pat@example.com" />
        <mat-error *ngIf="!loginForm.hasError('required')">
          Please enter a valid password
        </mat-error>
        <mat-icon
          matSuffix
          (click)="showHidePassword()"
          class="hide-option"
          *ngIf="showPassword"
          >cancel</mat-icon
        >
        <mat-icon
          matSuffix
          (click)="showHidePassword()"
          class="show-option"
          *ngIf="!showPassword"
          >remove_red_eye</mat-icon
        >
      </mat-form-field>
    </form>
    <div class="registration-notification">
      <h2>If you are not logged please register</h2>
    </div>
    <div class="login-button">
      <a
        matTooltip="Registration"
        mat-raised-button
        routerLink="registration"
        color="primary"
        >Registration</a
      >
      <button
        mat-flat-button
        matTooltip="Login"
        color="primary"
        [disabled]="!loginForm.valid"
        (click)="login()">
        Login
      </button>
      <button
        matTooltip="Login"
        mat-icon-button
        class="icon-btn"
        [disabled]="!loginForm.valid"
        (click)="testFireBase()">
        <img
          src="../../../../assets/icons/1175544_firebase_google_icon.svg"
          alt="FireBase Icon" />
      </button>
      <button
        mat-icon-button
        matTooltip="Login"
        class="icon-btn"
        [disabled]="!loginForm.valid"
        (click)="loginWithGoogle()">
        <img
          src="../../../../assets/icons/icons8-google.svg"
          alt="Google Icon" />
      </button>
    </div>
  </div>
</section>
