.login-form {
  display: flex;
  flex-direction: column;
  ::ng-deep mat-form-field {
    width: 450px;
  }
}
.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  button {
    &:disabled {
      background: #c4c4c4;
      color: #1d1d1e;
    }
  }
}
.registration-notification {
  color: beige;
}
