.login-form {
  ::ng-deep mat-form-field {
    width: 100%;
  }
}
.login-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.login-button{
  display: flex;
  justify-content: flex-end;
  align-items: center;
   button {
     &:disabled{
       background: #C4C4C4;
       color: #1D1D1E;
     }
   }
}

