<section class="page-container admin-container">
  <div class="admin-header">
    <h1>{{ adminTitle }}</h1>
  </div>
  <div class="admin-btn">
    <button (click)="removeDisable()">removeDisable</button>
    <button
      mat-raised-button
      color="primary"
      mat-button
      matTooltip="Add new Games"
      [disabled]="addNewGameForm"
      (click)="addGame()">
      <mat-icon>add</mat-icon> <span>Add new Game</span>
    </button>
    <button
      mat-raised-button
      color="primary"
      mat-button
      matTooltip="Add new Games"
      [disabled]="updateGameForm"
      (click)="updateGame()">
      <mat-icon>update</mat-icon> <span>Update Game</span>
    </button>
    <button
      mat-raised-button
      color="primary"
      mat-button
      matTooltip="Add new Games"
      [disabled]="updateUserInfo"
      (click)="updateUser()">
      <mat-icon>update</mat-icon> <span>Update User</span>
    </button>
  </div>
  <div *ngIf="addNewGameForm">
    <app-add-new-game></app-add-new-game>
  </div>
  <div *ngIf="updateGameForm">
    <app-update-game></app-update-game>
  </div>
  <div *ngIf="updateUserInfo">
    <app-update-user></app-update-user>
  </div>
</section>
