<section class="page-container admin-container">
  <div class="admin-header">
    <h1>{{ adminTitle }}</h1>
  </div>
  <div class="admin-btn">
    <button
      mat-raised-button
      color="primary"
      mat-button
      (click)="removeDisable()">
      removeDisable
    </button>
    <button
      mat-raised-button
      color="primary"
      mat-button
      matTooltip="Add new Games"
      [disabled]="addNewGameForm"
      (click)="addGame()">
      <mat-icon>add</mat-icon> <span>Add new Game</span>
    </button>
    <button
      mat-raised-button
      color="primary"
      mat-button
      matTooltip="User Info"
      (click)="userInfo()">
      <mat-icon>add</mat-icon> <span>User Info</span>
    </button>
  </div>
  <div>
    <app-all-games></app-all-games>
  </div>
  <div *ngIf="usersInfo">
    <app-users [users]="users"></app-users>
  </div>

  <div *ngIf="addNewGameForm">
    <app-add-new-game></app-add-new-game>
  </div>
</section>
