<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer mode="side" disableClose="true" opened="true">
    <button
      mat-mini-fab
      (click)="isOpen = !isOpen"
      color="primary"
      class="menu-btn">
      <mat-icon aria-label="Menu">menu</mat-icon>
    </button>
    <mat-nav-list class="sidenav">
      <mat-list-item
        class="listItem"
        matTooltipPosition="right"
        matTooltip="Home"
        routerLink="home">
        <mat-icon matListItemIcon>home</mat-icon>
        <h3 mat-line *ngIf="isOpen">Home page</h3>
      </mat-list-item>
      <mat-list-item
        class="listItem"
        matTooltipPosition="right"
        matTooltip="Games"
        routerLink="games">
        <mat-icon matListItemIcon>games</mat-icon>
        <h3 mat-line *ngIf="isOpen">Games</h3>
      </mat-list-item>
      <mat-list-item
        class="listItem"
        matTooltip="login"
        matTooltipPosition="right"
        routerLink=""
        *ngIf="isLogin$ === false">
        <mat-icon matListItemIcon>person_outline</mat-icon>
        <h3 mat-line *ngIf="isOpen">Login</h3>
      </mat-list-item>
      <mat-list-item
        class="listItem"
        matTooltip="Log Out"
        matTooltipPosition="right"
        (click)="logOut()"
        *ngIf="isLogin$ === true">
        <mat-icon matListItemIcon>person_outline</mat-icon>
        <h3 mat-line *ngIf="isOpen">Log Out</h3>
      </mat-list-item>
      <mat-list-item (click)="bot()">
        <mat-icon matListItemIcon>tag_faces</mat-icon>
        <h3 mat-line *ngIf="isOpen">Bot</h3></mat-list-item
      >
    </mat-nav-list>
  </mat-drawer>
  <mat-toolbar>
    <div class="block">
      <span>{{ title }}</span>
    </div>
    <div class="block">
      <a
        mat-icon-button
        matTooltip="Profile"
        [routerLink]="userAvatar.userRole === 'admin' ? 'admin' : 'profile'"
        *ngIf="isLogin$ === true">
        <mat-icon
          [matBadge]="userAvatar.games.length"
          [matBadgeHidden]="userAvatar.games.length === 0"
          *ngIf="!userAvatar.avatar && userAvatar.userRole === 'user'"
          >account_circle</mat-icon
        >
        <div
          [matBadgeHidden]="userAvatar.games.length === 0"
          [matBadge]="userAvatar.games.length"
          matBadgePosition="before">
          <img
            *ngIf="userAvatar.avatar"
            [src]="userAvatar.avatar"
            alt="avatar" />
        </div>
        <mat-icon *ngIf="userAvatar.userRole === 'admin'"
          >admin_panel_settings
        </mat-icon>
      </a>
    </div>
  </mat-toolbar>
  <div class="example-sidenav-content">
    <ng-content></ng-content>
  </div>
</mat-drawer-container>
