.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: #1d1d1e;
  color: beige;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
::ng-deep mat-toolbar {
  justify-content: space-between;
}
.block {
  display: flex;
  justify-content: center;
  align-items: center;

  > a ::ng-deep .mdc-button__label {
    > img {
      border-radius: 50%;
    }
  }
}
::ng-deep .mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #1d1d1e;
  color: beige;
}
::ng-deep .mat-drawer {
  background: #1d1d1e;
}
