.update-user-section {
  margin: 20px 0;
  .update-new-user-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    > mat-form-field {
      width: 100%;
    }

    .name-block{
      width: 100%;
      > mat-form-field {
        &:first-child {
          margin-right: 10px;
        }
        width: 50%;
      }
    }
  }
  .update-new-user-title{
    margin: 20px 0 20px 0;
  }

}
