<section class="update-user-section">
  <h2 class="update-new-user-title">Update Game from Store</h2>
  <form class="update-new-user-form">
    <div class="flex-block name-block">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input
          type="email"
          matInput
          autocomplete="false"
          placeholder="The Witcher 3 Wild Hunt" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input
          type="email"
          matInput
          autocomplete="false"
          placeholder="The Witcher 3 Wild Hunt" />
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        autocomplete="false"
        placeholder="The Witcher 3 Wild Hunt" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone number</mat-label>
      <input
        type="email"
        matInput
        autocomplete="false"
        placeholder="The Witcher 3 Wild Hunt" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Avatar</mat-label>
      <input
        type="email"
        matInput
        autocomplete="false"
        placeholder="The Witcher 3 Wild Hunt" />
    </mat-form-field>
    <button mat-flat-button matTooltip="Update User" color="primary">
      Update User
    </button>
  </form>
</section>
