.game-card {
  max-width: 400px;
  min-height: 400px;
  border-radius: 10px;
  background: #c4c4c4;
  transition: 500ms;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 4px 3px 7px 7px rgb(13, 13, 22, 0.63);
  }
  ::ng-deep .mat-mdc-card-header {
    justify-content: flex-end;

    > div > mat-card-title {
      text-overflow: ellipsis;
      overflow: hidden;
      width: 330px;
      white-space: nowrap;
    }
  }
  ::ng-deep .mat-mdc-card-subtitle {
    display: flex;
    justify-content: flex-end;
  }
}

.metacritic-position {
  font-size: 20px;
  font-weight: 400;
  color: white;
  background: black;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 5px;
  top: -10px;
  left: -10px;
}
.content-card {
  padding-top: 10px;
  h2 {
    margin-bottom: 0;
  }
}
.platform-list {
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    padding: 6px 0;
  }
}
.goToDetails {
  margin-right: 10px;
}
