<div>
  <div *ngFor="let user of users">
    <div class="userInfo" *ngIf="user.userRole !== 'admin'">
      <img src="{{ user.avatar }}" alt="" />
      <h3>{{ user.firstName }} {{ user.lastName }}</h3>
      <span class="userTitle">{{ user.phoneNumber }}</span>
      <span class="userTitle">{{ user.email }}</span>
      <span class="userTitle">{{ user.password }}</span>
      <button
        mat-raised-button
        color="primary"
        mat-button
        matTooltip="Add new Games"
        (click)="updateUser(user.id)">
        <mat-icon>update</mat-icon> <span>Update User</span>
      </button>
    </div>
    <div *ngIf="updateUserInfo && activeUserId === user.id">
      <app-update-user [userInfo]="user"></app-update-user>
    </div>
  </div>
</div>
