:host {
  .type-toggle {
    .show-option,
    .hide-option {
      cursor: pointer;
      width: 20px;
      height: 20px;
      display: contents;
      z-index: 1;
      position: absolute;
      right: 33%;
      &:hover{
        transition: all 300ms ease-in-out;
        color: beige;
      }
    }
  }
}
