<section *ngIf="!!userInfo">
  <div>
    <div class="profile-navigation">
      <button mat-raised-button [color]="'primary'" (click)="logOut()">Log Out</button>
      <button mat-raised-button (click)="redirectToHome()">Home</button>
      <button mat-raised-button (click)="redirectToGames()">Games</button>
    </div>

    <div class="user-info">
      <div>
        <h2>{{userInfo.firstName}} {{userInfo.lastName}}</h2>
        <p>{{userInfo.email}}</p>
        <p>{{userInfo.phoneNumber}}</p>
      </div>
      <div class="avatar">
        <img *ngIf="userInfo.avatar" [src]="userInfo.avatar" alt="avatar">
        <img *ngIf="!userInfo.avatar" class="default-avatar" [src]="userInfo.avatar | replaceNullImg" alt="avatar">
      </div>
    </div>
    <div class="wishList">
      <div *ngIf="userInfo.games">
        <h2>User List of Games</h2>
        <div *ngFor="let game of userInfo.games">
          <app-game-wishlist [gameInfo]="game"></app-game-wishlist>
        </div>
      </div>
      <div *ngIf="userInfo.games.length < 0">
        <h2>Chose your game </h2>
        <button mat-raised-button [color]="'primary'" (click)="redirectToGames()">Games</button>
      </div>
    </div>
  </div>
</section>
