<section *ngIf="!!userInfo">
  <div>
    <div class="profile-navigation">
      <button mat-raised-button [color]="'primary'" (click)="logOut()">Log Out</button>
      <button mat-raised-button routerLink="home">Home</button>
      <button mat-raised-button routerLink="games">Games</button>
    </div>

    <div class="user-info">
      <div>
        <h2>{{userInfo.firstName}} {{userInfo.lastName}}</h2>
        <p>{{userInfo.email}}</p>
        <p>{{userInfo.phoneNumber}}</p>
      </div>
      <div class="avatar">
        <img *ngIf="userInfo.avatar" [src]="userInfo.avatar" alt="avatar">
        <mat-icon *ngIf="!userInfo.avatar" [color]="'primary'">account_circle</mat-icon>
      </div>
    </div>
    <div class="wishList">
      <div *ngIf="userInfo.games">
        <h2>User List of Games</h2>
        <div *ngFor="let game of userInfo.games">
          {{game.name}}
        </div>
      </div>
      <div *ngIf="!userInfo.games">
        <h2>Chose your game </h2>
      </div>
    </div>
  </div>
</section>
